<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav th:fragment="mainNav" class="navbar bg-body-tertiary fixed-top w-100" style="z-index: 10;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
		<img src="/imgs/MainLogo_no.png" style="max-width: 100px;">
	  </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header" th:if="${session.loginId ==  null}">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">로그인</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" th:if="${session.loginId == null}">
          <div class="m-auto my-3" style="max-width: 350px;">
            <div>
              <h1 class="h3 mb-3 fw-normal">로그인</h1>

              <div class="form-floating mb-2">
                <input type="text" class="form-control" id="inputMid" name="mid" placeholder="아이디 입력..">
                <label for="inputMid">아이디</label>
              </div>
              <div class="form-floating mb-2">
                <input type="password" class="form-control" name="mpw" id="inputMpw" placeholder="비밀번호 입력...">
                <label for="floatingPassword">비밀번호</label>
              </div>
			  <span class="d-none" id="loginResultMsg">로그인에 실패했습니다.</span>
              <button class="btn btn-primary w-100 py-2 my-1 fw-bold" type="button" onclick="canversLogin()">로그인</button>
              <a href="/member/KakaoAuthCode" class="btn btn-warning fw-bold w-100 py-2 my-1" style="color: black">카카오
                로그인</a>
            </form>
            <a href="/member/joinFormPage" class="btn btn-secondary fw-bold w-100 py-2 my-1">회원가입</a>
          </div>
        </div>
</div>
        <div class="offcanvas-header" th:if="${session.loginId !=  null}">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">SubMenu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" th:if="${session.loginId !=  null}">
          <div class="m-auto my-3" style="max-width: 350px;">
			<div class="col-12 justify-content-center d-flex">
				<div class="fw-bold mb-2">닉네임 : [[${session.loginNickname}]]</div>
			</div>
            <div class="col-12 justify-content-center d-flex">
              <a href="/member/memInfo" class="btn btn-secondary px-5 py-4 fw-bold w-100 mb-2">회원정보</a>
            </div>
            <div class="col-12 justify-content-center d-flex">
              <a href="/viewPlan" class="btn btn-secondary px-5 py-4 fw-bold w-100 mb-2">내 일정 보기</a>
            </div>
            <div th:if="${shareContentCnt > 0}" class="col-12 justify-content-center d-flex">
              <h5>공유된 일정 : </h5>
              <button th:text="${shareContentCnt}" class="btn btn-danger" onclick="checkReceivePlan()"></button>
            </div>
            <div class="col-12 text-center">
              <a href="/member/logout" class="btn btn-secondary px-5 py-4 fw-bold w-100 mb-2">로그아웃</a>
            </div>
          </div>
        </div>
      </div>
  </nav>

  <script>
    function checkReceivePlan() {
      location.href = "/receivePlanView";
    }
  </script>
</body>

</html>